# Custom
wandb
.vscode/
outputs
results/figures
slurm*
experiments
checkpoints
saved_runs
dataset

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
penv/
_vizdoom.ini
_vizdoom/
# Jupyter Notebook
.ipynb_checkpoints
# jack
vae_data/
vae_output/
depre/
*.jpg
*.png
*.egg-info

# georgy
.local/